<div class="container gapminder-content" >
    <div class="row">
        <div class="col-sm-7">

            <div class="row">
                <div class="col-sm-12">
                    <h1>{{media.title}}</h1>
                </div>
            </div>
            <div class="video-section row">
                <div class="video-container col-sm-12">
                    <iframe ng-src=" {{url}} " frameborder="0" width="854" height="510"></iframe>
                </div>

                <div class="col-sm-12 video-buttons">
                    <button class="btn btn-default btn-lg" >
                        <i class="fa fa-info-circle"></i> About
                    </button>

                    <button class="btn btn-default btn-lg">
                        <i class="fa fa-align-left"></i> Text answer
                    </button>

                    <button class="btn btn-default btn-lg">
                        <i class="fa fa-share"></i> Share
                    </button>

                    <button class="btn btn-default btn-lg">
                        <i class="fa fa-file-o"></i> Resources
                    </button>
                </div>

            </div>
            <br/>
            <p><b>{{media.title}}</b></p>
            <br/>
            <p>Video about:</p>
            <p>{{text}}</p>
            <br/>
            <p>Content:</p>
            <div ng-repeat="content in contents"><p>{{content}}</p></div>
            <!-- Contributors -->
            <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                    <!--<h4>Contributors</h4>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="contributors">-->
                <!--<div ng-repeat="item in media.contributors" class="photo">-->
                    <!--<a href="#/app/profile/{{item.id}}" style="background-image: url({{item.profile_picture}})">-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="col-sm-5">

            <!-- Related Items -->
            <div class="related-section">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>About</h4>
                    </div>
                </div>
                <div>
                    {{about}}
                    <!--<div class="item-thumbnail-left" ng-repeat="item in media.related" href="#/app/media/{{item.id}}">-->
                        <!--<img src="{{item.image}}">-->
                        <!--<h2>{{item.title}}</h2>-->
                        <!--<p>{{item.description}}</p>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
</div>