<ion-view title="Search">
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
    <ion-content class="has-header gapminder-content">
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Search here..." ng-model="search">
                </label>
            </div>
        </form>
        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <img src="http://placehold.it/80x80">
                <h2>Life Expectancy X GDP per capita</h2>
                <p>Small description here</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="http://placehold.it/80x80">
                <h2>Life Expectancy X GDP per capita</h2>
                <p>Small description here</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="http://placehold.it/80x80">
                <h2>Life Expectancy X GDP per capita</h2>
                <p>Small description here</p>
            </a>

        </div>
    </ion-content>
</ion-view>